In [15]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('scraped_data_10.csv')

In [22]:
df.describe()

# I already see that price is not included because there are some strings in the column.

,Bedrooms,Terrace surface,Surface of the plot,Living room surface,Number of frontages,Construction year,Outdoor parking space,Bathrooms,Shower rooms,Toilets,immo_code,postal code
count,10138.000000,10138.000000,1.013800e+04,10138.000000,10138.000000,10138.000000,10138.0,10138.000000,10138.000000,10138.000000,1.013800e+04,10138.000000
mean,2.739100,8.106924,7.880428e+02,14.508384,1.849872,1122.162754,0.0,1.122213,0.308739,1.205070,9.588205e+06,4829.721641
std,1.896267,21.906764,1.182445e+04,30.838190,1.538096,979.419282,0.0,1.071369,1.824922,1.306326,3.181988e+06,3981.973255
min,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000000,-1.000000,0.000000,0.000000e+00,2.000000
25%,2.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,1.064568e+07,1480.000000
50%,3.000000,0.000000,6.500000e+01,0.000000,2.000000,1930.000000,0.0,1.000000,0.000000,1.000000,1.065318e+07,3920.000000
75%,3.000000,9.000000,4.907500e+02,30.000000,3.000000,1985.000000,0.0,1.000000,0.000000,2.000000,1.065985e+07,8430.000000
max,60.000000,663.000000,1.090481e+06,2340.000000,26.000000,2025.000000,0.0,27.000000,116.000000,20.000000,1.066718e+07,100000.000000

In [23]:
#remove the € figure as there were some empty ones
df =df.replace({'\€':'','\)':'','\.':''},regex=True)

In [24]:
#Remove the rows that have a 0 as price

#df = df[df.iloc[:, 0] != 0]
df = df[df.iloc[:, 0].astype(str).str.strip() != '0']

''' The astype(str) is used to convert the values in the first column to strings
    the str.strip() is to remove trailing spaces
    the !=0 is to filter out the strings that are not 0
    '''

' The astype(str) is used to convert the values in the first column to strings\n    the str.strip() is to remove trailing spaces\n    the !=0 is to filter out the strings that are not 0\n    '

In [25]:
# Remove the rows that have a missing value as price

#df = df.dropna(subset=['Price'])
df = df[df['Price'].notnull() & (df['Price'] != '')]

In [26]:
df.head(5)

,Price,Address,Bedrooms,Energy class,Primary energy consumption,Furnished,Terrace,Terrace surface,Surface of the plot,Living room surface,...,Building condition,Outdoor parking space,Bathrooms,Shower rooms,Office,Toilets,Kitchen type,Heating type,immo_code,postal code
1,469000,Heidestatiestraat 26,3,D,390,No,Yes,0,760,34,...,0,0,1,0,0,2,Installed,0,10666428,2910
2,1395000,"Rue de Wavre, 27",5,C,178,0,0,60,6468,50,...,Good,0,2,3,Yes,4,Hyper equipped,Fuel oil,10666426,1301
3,285000,Avenue de Longwy 340,2,D,299,0,0,0,0,0,...,Good,0,2,0,0,2,Installed,Electric,10666424,6700
4,285000,Avenue de Longwy 340,2,D,299,0,0,0,0,0,...,Good,0,2,0,0,2,Installed,Electric,10666423,6700
5,425000,"Grote steenweg, 511",2,C,254,0,0,4,0,40,...,As new,0,1,0,0,0,Installed,0,10666422,2000

In [27]:
replace_dataframe={'Yes':1,'No':0}
columns_to_convert=['Furnished','Terrace','Office']

df[columns_to_convert]=df[columns_to_convert].replace(replace_dataframe)

In [28]:
df = df[df['Price'].astype(str).str.len() >= 6]

# I removed the prices that had small values to get all houses for sale, rather than rent.

In [29]:
df.head()

,Price,Address,Bedrooms,Energy class,Primary energy consumption,Furnished,Terrace,Terrace surface,Surface of the plot,Living room surface,...,Building condition,Outdoor parking space,Bathrooms,Shower rooms,Office,Toilets,Kitchen type,Heating type,immo_code,postal code
1,469000,Heidestatiestraat 26,3,D,390,0,1,0,760,34,...,0,0,1,0,0,2,Installed,0,10666428,2910
2,1395000,"Rue de Wavre, 27",5,C,178,0,0,60,6468,50,...,Good,0,2,3,1,4,Hyper equipped,Fuel oil,10666426,1301
3,285000,Avenue de Longwy 340,2,D,299,0,0,0,0,0,...,Good,0,2,0,0,2,Installed,Electric,10666424,6700
4,285000,Avenue de Longwy 340,2,D,299,0,0,0,0,0,...,Good,0,2,0,0,2,Installed,Electric,10666423,6700
5,425000,"Grote steenweg, 511",2,C,254,0,0,4,0,40,...,As new,0,1,0,0,0,Installed,0,10666422,2000

In [31]:
# exclude the prices that contain / or ! attached to the price
df = df[~df['Price'].str.contains('[/!]', na=False)]

#!!!! ~must be in front to remove these rows, if you do not include the ~, then it will only keep the rows with / and ! in Price

In [32]:
# Remove all strings from the column

df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

#converts the values from 'Price' to numeric type and those that are not numeric value converts to NaN. 
#Further dropped by dropna
df = df.dropna(subset=['Price'])

In [37]:
df = df[~df['Energy class'].astype(str).str.contains('Not specified')]

In [39]:
df = df[df.iloc[:, -4].astype(str).str.strip() != '0']

In [44]:
df = df[df.iloc[:, -11].astype(str).str.strip() != '0']

In [46]:
df.to_csv('adjusted_price.csv',index=False)