In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<h1>Cleaning Dataframe</h1>

In [2]:
df = pd.read_csv('CSV_Files/House_details.csv')
df.to_csv('CSV_Files/House_details.csv', index=False)

In [3]:
df.nunique()

Type of property                25
Location                      1691
postal code                    969
immo code                     9986
Price                         1542
Address                       1832
Bedrooms                        24
Energy class                    14
Primary energy consumption    1012
Furnished                        2
Terrace                          2
Terrace surface                132
Surface of the plot           1723
Living room surface            106
Number of frontages              9
Construction year              164
Building condition               7
Outdoor parking space            1
Bathrooms                       14
Shower rooms                    16
Office                           2
Toilets                         16
Kitchen type                     9
Heating type                     8
province                        11
dtype: int64

In [4]:
df.head()

,Type of property,Location,postal code,immo code,Price,Address,Bedrooms,Energy class,Primary energy consumption,Furnished,...,Construction year,Building condition,Outdoor parking space,Bathrooms,Shower rooms,Office,Toilets,Kitchen type,Heating type,province
0,penthouse,turnhout,2300,10666429,€,Grote Markt 22,4,C,218.0,0,...,1997,As new,0,1,0,0,2,0,Gas,Antwerp
1,house,essen,2910,10666428,€469000,Heidestatiestraat 26,3,D,390.0,0,...,0,0,0,1,0,0,2,Installed,0,Antwerp
2,house,bierges,1301,10666426,€1395000,"Rue de Wavre, 27",5,C,178.0,0,...,1988,Good,0,2,3,1,4,Hyper equipped,Fuel oil,Walloon Brabant
3,apartment,arlon,6700,10666424,€285000,Avenue de Longwy 340,2,D,299.0,0,...,0,Good,0,2,0,0,2,Installed,Electric,Luxembourg (shared with Eastern Hainaut)
4,house,arlon,6700,10666423,€285000,Avenue de Longwy 340,2,D,299.0,0,...,0,Good,0,2,0,0,2,Installed,Electric,Luxembourg (shared with Eastern Hainaut)

In [5]:
#remove the € figure as there were some empty ones
df =df.replace({'€':'','\€':'','\)':'','\.':''},regex=True)

In [6]:
# remove rows which do not show price
df = df[df['Price'].notnull() & (df['Price'] != '')]

In [7]:
# Remove all strings from the column

df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

#converts the values from 'Price' to numeric type and those that are not numeric value converts to NaN. 
#Further dropped by dropna
df = df.dropna(subset=['Price'])

In [8]:
df.shape

(9267, 25)

In [9]:
replace_dataframe={'Yes':1,'No':0}
columns_to_convert=['Furnished','Terrace','Office']

df[columns_to_convert]=df[columns_to_convert].replace(replace_dataframe)

In [10]:
df =df.drop('Outdoor parking space', axis=1) # removed the Outdoor parking space as the only result was 0

In [11]:
df.head()

,Type of property,Location,postal code,immo code,Price,Address,Bedrooms,Energy class,Primary energy consumption,Furnished,...,Number of frontages,Construction year,Building condition,Bathrooms,Shower rooms,Office,Toilets,Kitchen type,Heating type,province
1,house,essen,2910,10666428,469000.0,Heidestatiestraat 26,3,D,390.0,0,...,4,0,0,1,0,0,2,Installed,0,Antwerp
2,house,bierges,1301,10666426,1395000.0,"Rue de Wavre, 27",5,C,178.0,0,...,4,1988,Good,2,3,1,4,Hyper equipped,Fuel oil,Walloon Brabant
3,apartment,arlon,6700,10666424,285000.0,Avenue de Longwy 340,2,D,299.0,0,...,2,0,Good,2,0,0,2,Installed,Electric,Luxembourg (shared with Eastern Hainaut
4,house,arlon,6700,10666423,285000.0,Avenue de Longwy 340,2,D,299.0,0,...,2,0,Good,2,0,0,2,Installed,Electric,Luxembourg (shared with Eastern Hainaut
5,apartment,antwerp,2000,10666422,425000.0,"Grote steenweg, 511",2,C,254.0,0,...,0,0,As new,1,0,0,0,Installed,0,Antwerp

In [13]:
df.isnull().sum()

Type of property                0
Location                        0
postal code                     0
immo code                       0
Price                           0
Address                         0
Bedrooms                        0
Energy class                    0
Primary energy consumption      0
Furnished                       0
Terrace                         0
Terrace surface                 0
Surface of the plot             0
Living room surface             0
Number of frontages             0
Construction year               0
Building condition              0
Bathrooms                       0
Shower rooms                    0
Office                          0
Toilets                         0
Kitchen type                    0
Heating type                    0
province                      170
dtype: int64

In [19]:
#df = df[df.iloc[:, -1].astype(str).str.strip() != '']

df.dropna(subset=['province'], inplace=True)  # dropping missing values in column province

In [20]:
df.isnull().sum()

Type of property              0
Location                      0
postal code                   0
immo code                     0
Price                         0
Address                       0
Bedrooms                      0
Energy class                  0
Primary energy consumption    0
Furnished                     0
Terrace                       0
Terrace surface               0
Surface of the plot           0
Living room surface           0
Number of frontages           0
Construction year             0
Building condition            0
Bathrooms                     0
Shower rooms                  0
Office                        0
Toilets                       0
Kitchen type                  0
Heating type                  0
province                      0
dtype: int64